
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>



<script type="text/javascript">
    function ClearResults() {
        $("#employees").empty();
    }

   
</script>
<br><br>
<a data-ajax="true" data-ajax-method="GET" data-ajax-loading="#loading" data-ajax-begin="ClearResults" data-ajax-loading-duration="2000"
       data-ajax-mode="replace" data-ajax-update="#employees" href="/Home/All">
        <i class="fa fa-2x fa-users text-primary" title="all"></i>
    </a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-loading="#loading1" data-ajax-begin="ClearResults" data-ajax-loading-duration="2000"
       data-ajax-mode="replace" data-ajax-update="#employees" href="/Home/Top3">
        <i class="fa fa-2x fa-user-circle-o text-danger" title="top 3"></i>
    </a>
    <a data-ajax="true" data-ajax-method="GET" data-ajax-loading="#loading1" data-ajax-begin="ClearResults" data-ajax-loading-duration="2000"
       data-ajax-mode="replace" data-ajax-update="#employees" href="/Home/Bottom3">
        <i class="fa fa-2x fa-user-md text-success" title="bottom 3"></i>
    </a>


@*@Ajax.ActionLink("All","All",new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "employees",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "loading",
    OnBegin = "ClearResults",
    LoadingElementDuration = 2000
})

    @Ajax.ActionLink("Top 3","Top3",new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "employees",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "loading",
    OnBegin = "ClearResults",
    LoadingElementDuration = 2000
})

    @Ajax.ActionLink("Bottom 3","Bottom3",new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "employees",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "loading",
    OnBegin = "ClearResults",
    LoadingElementDuration = 2000
})*@
<br><br>

<div id="loading" style="display: none">
    <img src="~/img/ajax-loader.gif"/>
</div>

<div id="loading1" style="display: none">
    <img src="~/img/3.gif" />
</div>

<div id="employees"></div>